input{
  width: 50%;
  margin: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
}
.invalid-input-ms{
  font-size: small;
  margin: 0;
}
.invalid-input{
  border: 1px solid red;
}

section{
  width: 50rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.calculation-serie{
    font-family: 'Source Code Pro', monospace; 
    font-size: medium;
    margin: 0;
    padding: 0;
    word-wrap: normal;
    overflow: auto;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p{
  margin: 1rem;
}
img {
  width: 80%;
  margin: auto;
  border-radius: 1rem;
}
h1{
  margin: 0 0 0 1rem;
}
h2{
  margin: 0;
  font-size: large;
}
